body{
  height: 100vh;
}

#root{
  height: 100vh;
}

.App {
  text-align: center;
  height: 100vh;
}

.outlineFX{
  color: white;
  text-shadow: 3px 2px 2px #000000;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.conditionsvg{
  -webkit-filter: drop-shadow(12px 12px 25px rgba(0,0,0,0.5));
  filter: drop-shadow(5px 5px 5px #222);
}

.CurrentMainDiv{
  background-repeat: no-repeat;
  background-size: cover;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.hourly:nth-child(odd){
  background-color: white;
  color: rgb(29, 29, 92);
}

.hourly:nth-child(even){
  background-color: rgb(92, 142, 189);
  color: white;
}

.hourlyimg{
  width: 48px;
}

.hourlyweatherdescription{
  font-size: 0.75em;
  word-wrap: break-word;
}

.hourlyouterdiv{
  margin-left: auto;
  margin-right: auto;
}

.hourlytd{
  width: 58px;
  max-width: 58px;
}
.hourlytable{
  margin-left: auto;
  margin-right: auto;
}

.dailytable{
  /* width: 100vw; */
  margin-left: auto;
  margin-right: auto;
}

.dailyimg{
  width: 48px;
}

.dailydate{
  width: 78px;
  font-size: 1.2em;
  text-align: left;
}

.dailyimgtd{
  padding: 4px;
}

.dailywindsp{
  padding-left: 16px;
  text-align: left;
}

.dailytemps{
  padding: 4px;
  padding-left: 16px;
  text-align: left;
}

@media(max-width: 380px){
  .hourlytd{
    width: 32px;
    max-width: 32px;
    font-size: .75em;
  }
  .hourlyimg{
    width: 24px;
    margin-left: auto;
    margin-right: auto;
  }

  .hourlyweatherdescription{
    display: none;
  }

  .dailydate{
    width: 78px;
    font-size: 1.15em;
    text-align: left;
  }
  }
